/* You can add global styles to this file, and also import other style files */
.employee-photo{
  width: 120px;
  height: 120px;
}
.vertical-align{
  display: flex;
  align-items: center;
}
.pointer-cursor {
  cursor: pointer;
}